anthropic
cohere
google-genai
kaleido
markdown
matplotlib
networkx
numpy
pandas
pillow
plotly
pm4py
powl>=2.3.4
requests
rustxes
seaborn
streamlit==1.56.0
tabulate
xhtml2pdf
openai==2.30.0
scikit-learn==1.8.0